html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}      
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 1.6;
	color: #111111;
  font-weight: 400;
  background: #fff;
}
::-webkit-scrollbar { 
    display: none; 
}
*:focus {
  outline: none !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: 700;
}
h1 {
	font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 17px;
}
h6 {
  font-size: 15px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.smalltext {
  font-size: 12px;
}
.overflow-hidden {
  overflow: hidden;
}
/* IE9  - Also picked up by most modern browsers */
::selection {
  background:#337ab7;
  color:#ffffff;
  text-shadow:none;
}
/* Safari & Chrome - Webkit Rendering */
::-webkit-selection {
  background:#337ab7;
  color:#ffffff;
  text-shadow:none;
}
/* Mozilla based - Gecko Rendering */ 
::-moz-selection {
  background:#337ab7;
  color:#ffffff;
  text-shadow:none;
}



/*===================================================================================*/
/*  Paddings - Margins
/*===================================================================================*/
.bottom-padding-xlarge {
  padding-bottom: 50px;
}
.bottom-padding-large {
  padding-bottom: 40px;
}
.bottom-padding-medium {
  padding-bottom: 30px;
}
.bottom-padding-small {
  padding-bottom: 20px;
}
.bottom-padding-xsmall {
  padding-bottom: 10px;
}
.bottom-padding-xxsmall {
  padding-bottom: 5px;
}
.bottom-padding-no {
  padding-bottom: 0px;
}

.top-padding-xlarge {
  padding-top: 50px;
}
.top-padding-large {
  padding-top: 40px;
}
.top-padding-medium {
  padding-top: 30px;
}
.top-padding-small {
  padding-top: 20px;
}
.top-padding-xsmall {
  padding-top: 10px;
}
.top-padding-xxsmall {
  padding-top: 5px;
}
.top-padding-no {
  padding-top: 0px;
}

.left-padding-xlarge {
  padding-left: 50px;
}
.left-padding-large {
  padding-left: 40px;
}
.left-padding-medium {
  padding-left: 30px;
}
.left-padding-small {
  padding-left: 20px;
}
.left-padding-xsmall {
  padding-left: 10px;
}
.left-padding-xxsmall {
  padding-left: 5px;
}
.left-padding-no {
  padding-left: 0px;
}

.right-padding-xlarge {
  padding-right: 50px;
}
.right-padding-large {
  padding-right: 40px;
}
.right-padding-medium {
  padding-right: 30px;
}
.right-padding-small {
  padding-right: 20px;
}
.right-padding-xsmall {
  padding-right: 10px;
}
.right-padding-xxsmall {
  padding-right: 5px;
}
.right-padding-no {
  padding-right: 0px;
}

.bottom-margin-xlarge {
  margin-bottom: 50px;
}
.bottom-margin-large {
  margin-bottom: 40px;
}
.bottom-margin-medium {
  margin-bottom: 30px;
}
.bottom-margin-small {
  margin-bottom: 20px;
}
.bottom-margin-xsmall {
  margin-bottom: 10px;
}
.bottom-margin-xxsmall {
  margin-bottom: 5px;
}
.bottom-margin-no {
  margin-bottom: 0px;
}

.top-margin-xlarge {
  margin-top: 50px;
}
.top-margin-large {
  margin-top: 40px;
}
.top-margin-medium {
  margin-top: 30px;
}
.top-margin-small {
  margin-top: 20px;
}
.top-margin-xsmall {
  margin-top: 10px;
}
.top-margin-xxsmall {
  margin-top: 5px;
}
.top-margin-no {
  margin-top: 0px;
}

.left-margin-xlarge {
  margin-left: 50px;
}
.left-margin-large {
  margin-left: 40px;
}
.left-margin-medium {
  margin-left: 30px;
}
.left-margin-small {
  margin-left: 20px;
}
.left-margin-xsmall {
  margin-left: 10px;
}
.left-margin-xxsmall {
  margin-left: 5px;
}
.left-margin-no {
  margin-left: 0px;
}

.right-margin-xlarge {
  margin-right: 50px;
}
.right-margin-large {
  margin-right: 40px;
}
.right-margin-medium {
  margin-right: 30px;
}
.right-margin-small {
  margin-right: 20px;
}
.right-margin-xsmall {
  margin-right: 10px;
}
.right-margin-xxsmall {
  margin-right: 5px;
}
.right-margin-no {
  margin-right: 0px;
}


/*===================================================================================*/
/*  Top Box - Bar
/*===================================================================================*/
#top-box {
  width: 100%;
  background: #337ab7;
  border-bottom: 1px solid #fff;
}
#top-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#top-box li {
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
  display: block;
  float: left;
  border-left: 1px solid #fff;
  padding: 10px 8px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;  
}
#top-box li:last-child {
  border-right: 1px solid #fff;  
}
#top-box li:hover,
#top-box li:focus {
  background: #fff;
}
#top-box li a {
  float: left;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;  
}
#top-box li:hover > a {
  color: #337ab7;
}
@media screen and (max-width:1199px){
  #top-box li {
    font-size: 12px;
    padding: 10px 8px; 
    letter-spacing: -0.5px;
  }
}
@media screen and (max-width:991px){
  #top-box li {
    font-size: 12px;
    padding: 10px 6px; 
    letter-spacing: -0.2px;
  }
}
@media screen and (max-width:767px){
  #top-box li {
    font-size: 12px;
    padding: 10px 8px; 
    letter-spacing: -0.2px;
  }
}
#top-box img { 
max-width: 100%;
width: 75%;
}




.contact ul {list-style-type: none; margin-left: 1em; padding: 0; width: 20em;}

.contact li { cursor: pointer; position: relative; left: 0; transition: all 0.2s ease; }
.contact li:hover {color: #369; background-color: #EEE; left: .2em;}

.skills ul {list-style-type: none; margin-left: 1em; padding: 5px; width: 20em;}

.skills li { cursor: pointer; position: relative; left: 0; transition: all 0.2s ease; }
.skills li:hover {color: #369; background-color: #EEE; left: .2em;}

.our-team{
    text-align: center;
    overflow: hidden;
    padding: 40px 15px 10px;
    border: 0px solid #ebebeb;
    transition:all 0.3s ease 0s;
}
.pic img{
    border: 10px solid #337ab7;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}
.post-title{
    position: relative;
    margin: 38px 0 18px 0;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color:#333;
}
.border{
    width: 100px;
    border-bottom: 3px solid #337ab7;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
}
.border:after{
    content: "";
    width: 34px;
    display: block;
    position: relative;
    top:3px;
    border-bottom: 3px solid #F43662;
    margin: auto;
}
.post{
    overflow: hidden;
    display: block;
    margin-top: 20px;
    font-size: 13px;
    color:#999;
    text-transform: capitalize;
    opacity: 1;
    transition: all 0.3s ease 0s;
}
.team_social{
    list-style: none;
    padding: 0;
    text-align: center;
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.team_social > li{
    display: inline-block;
    margin-right: 20px;
}
.team_social > li:last-child{
    margin-right: 0;
}
.team_social > li > a{
    font-size: 15px;
    font-weight: 400;
    color:#333;
    transition: all 0.3s ease 0s;
}
.team_social > li > a:hover{
    color:#fff;
}
.our-team:hover{
    background: #fff;
    padding-bottom: 30px;
}
.our-team:hover .pic img{
    border-color: #E23237;
}
.our-team:hover .border{
    border-color: #E23237;
}
.our-team:hover .border:after{
    border-color: #fff;
}
.our-team:hover .post{
    margin-top: 0;
    opacity: 0;
}
.our-team:hover .team_social{
    opacity: 1;
    bottom: 0;
}
@media screen and (max-width: 990px){
    .our-team{
        margin-bottom: 30px;
    }
}
.wikipedia input {
width: 100%;
font-size: 16px;
border: 1px solid #337ab7;
}
.wikipedia ul {list-style-type: none; margin-left: 0em; padding: 5px; width: 20em;}

.wikipedia li { cursor: pointer; position: relative; left: 0; transition: all 0.2s ease; }
.wikipedia li:hover {color: #369; background-color: #EEE; left: .2em;}
