<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div  [hidden]="submitted">
        <h3>Contact Me</h3>
        <form *ngIf="active" (ngSubmit)="onSubmit()" #mainForm="ngForm">

        <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" required name="name">
        </div>


          <div class="form-group">
            <label for="reason">Reason</label>
            <select class="form-control" required
                ngControl="reason" #reason="ngForm" >
              <option *ngFor="#reason of reasons" [value]="reason">{{reason}}</option>
            </select>
          </div>

          <button type="submit" class="btn btn-default" [disabled]="!mainForm.form.valid">Submit</button>
        </form>
      </div>

      <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Reason</div>
      <div class="col-xs-9 pull-left">{{ reason }}</div>
    </div>
    <br>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
    </div>
  </div>
</div>
